<html>
	<head>
		<title>Porch Zombie Relay Controller</title>
		<script type="text/javascript">
                    function set_status(divname, value) {
	                var container = document.getElementById(divName);
			container.innerHTML = value;
                    }
		</script>
	</head>
	<body>
		<table>
			<tr>
				<td colspan = "2">
					<h1>Porch Zombie - relay 2 - web based controls</h1>
				</td>
			<tr>
			<tr>
				<td>Relay One:</td>
				<td>
					<a href="/extend_one/">Extend</a>&nbsp;
					<a href="/contract_one/">Contract</a>&nbsp;<br>
				</td>
			</tr>
			<tr>
				<td>Relay Two:</td>
				<td>
					<a href="/contract_two/">Extend</a>&nbsp;
					<a href="/extend_two/">Contract</a><br>
				</td>
			</tr>
			<tr>
				<td>Relay Three:</td>
				<td>
					<a href="/contract_three/">Extend</a>&nbsp;
					<a href="/extend_three/">Contract</a><br>
				</td>
			</tr>
		</table>
	</body>
</html>
