<!doctyhpe html>
<html>
	<head>
		<title>Porch Zombie Relay Controller</title>
	</head>
	<body background="{{ url_for('static', filename='halloween_background.png') }}" style="filter:alpha(opacity=80);">
		<table style="width:100%;height:100%" border="0" cellpadding="3" cellspacing="0"><tr><td width="100%" height="100%" valign="center" align="center">
		<table bgcolor="#d3d4d5">
			<tr>
				<td colspan = "3">
					<h2>Porch Zombie - relay 2 - web based controls</h2>
				</td>
			</tr>


			<!-- Relay Controls -->
			<tr>
				<td bgcolor="darkgray" colspan="3">
					Relay Controls
				</td>
			</tr>
			<tr>
				<td><b>Relay</b></td>
				<td><b>Actions</b></td>
			</tr>
			<tr>
				<td>Relay One:</td>
				<td>
					<a href="/extend_one/">Extend</a>&nbsp;
					<a href="/contract_one/">Contract</a>&nbsp;<br>
				</td>
			</tr>
			<tr>
				<td>Relay Two:</td>
				<td>
					<a href="/extend_two/">Extend</a>&nbsp;
					<a href="/contract_two/">Contract</a><br>
				</td>
			</tr>
			<tr>
				<td>Relay Three:</td>
				<td>
					<a href="/extend_three/">Extend</a>&nbsp;
					<a href="/contract_three/">Contract</a><br>
				</td>
			</tr>
			<tr><td colspan="2"><hr></hr></td></tr>
			<tr>
				<td>Trigger all:</td>
				<td>
					<a href="/extend_all/">Extend</a>&nbsp;
					<a href="/contract_all/">Contract</a><br>
				</td>
			</tr>
		</table>
		</td></tr></table>
	</body>
</html>
