<html>
	<head>
		<title></title>
		<script text="text/javascript">
		</script>
	</head>
	<body>
        <h2>Welcome to the Haunted Porch 2022 :-)</h2>
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%"> 
            <tr>
                <td colspan="2">&nbsp;&nbsp;Motion Trigger Script</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td valign="top">
                    <iframe id="motion_status" src="/motion_status/" frameborder="no" border="0"></frame>
                </td>
            </tr>
        </table>
	</body>
</html>

