<html>
	<head>
		<title></title>
		<script text="text/javascript">
		</script>
	</head>
    <body background="{{ url_for('static', filename='halloween_background.png') }} ">
        <table style="height:100%;width:100%"><tr><td width="100%" height="100%" align="center" valign="center">
        <table border="0" cellpadding="3" cellspacing="0" bgcolor="#d3d4d5"> 
            <tr>
                <td>
                    <h2>Welcome to the Haunted Porch 2022 :-)</h2> 
                    <b>Motion Trigger Script:</b><br>
                    <table>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td><iframe id="motion_status" src="/motion_status/" frameborder="no" border="0"></frame></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td></tr></table>
	</body>
</html>

