<!doctyhpe html>
<html>
	<head>
		<title>Porch Zombie Relay Controller</title>
	</head>
	<body>
		<table>
			<tr>
				<td colspan = "3" bgcolor="gray">
					<h1>Porch Zombie - relay 1 - web based controls</h1>
				</td>
			</tr>
			<tr>
				<td><b>Relay</b></td>
				<td><b>Actions</b></td>
				<td><b>current Status</b></td>
			</tr>
			<tr>
				<td>Relay One:</td>
				<td>
					<a href="/extend_one/">Extend</a>&nbsp;
					<a href="/contract_one/">Contract</a>&nbsp;<br>
				</td>
				<td>
					{{ current_status['relay_one'] }} 
				</td>
			</tr>
			<tr>
				<td>Relay Two:</td>
				<td>
					<a href="/extend_two/">Extend</a>&nbsp;
					<a href="/contract_two/">Contract</a><br>
				</td>
				<td>
					{{ current_status['relay_two'] }} 
				</td>
			</tr>
			<tr>
				<td>Relay Three:</td>
				<td>
					<a href="/extend_three/">Extend</a>&nbsp;
					<a href="/contract_three/">Contract</a><br>
				</td>
				<td>
					{{ current_status['relay_three'] }} 
				</td>
			</tr>
		</table>
	</body>
</html>
